doctype HTML
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Welcome
link(rel="stylesheet", href="./style/style.css")
main
  h1 Welcome at WorkNow
  a#Login(href="login").
    
    Login
    
  a#Register(href="register").
    
    Register
    