meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Register
link(rel="stylesheet", href="./style/style.css")
main
    a#home(href="/") Home
    h1 Register
    p.erorr
        span#erorr=problems
    form(action="register" , method="POST")
        table
            tr
            td.
                
                User name :
                
            td
                input#name(type="text", name="username" placeholder="Your name")
            tr
            td.
                
                Password :
                
            td
                input#password(type="password", name="password" , placeholder="************")
            tr
            td.
                
                Email :
                
            td
                input#email(type="email", name="email", placeholder="example@email.com")
        button#submit_btn submit
        button(type="reset") reset
